
<% flags = locals[:data] || $flags.get_many_limited({}, sort: [{created_at: -1}] )%>
<% if locals[:flagged]%>
<h2> Flagged </h2>
<% elsif locals[:flagging] %>
<h2> Flagging</h2>
<% else %>
 <h2> Flags</h2>
 <% end %>

  <table class='table table-striped table-bordered table-hover table-sm table-responsive' >
  <% keys =  ["_id", "flagging_user_id", "flagged_user_id", "response_id", "created_at"]%>
    <thead class='thead-inverse'>
    <% keys.each  do |key| %>
      <td><%= key %> </td>
    <% end %>

  </thead>
  <tbody>

  	<% flags.each do |flag| %>
    <tr class="table-row" data-href="/flags_page?flag_id=<%=flag['_id']%>">
	  <% flag.each_value do |value| %>
	  <td> 
    <!--  <a href="/request_page?request_id=<%=request['_id']%>"> -->
      <%= value || "none" %>
      <!-- </a> -->
    </td>
      
	    <% end %>
	  </tr>
	  
  <% end %>
  </tbody>
</table>