
<h2>Routes</h2>

<div><pre> <b>Users</b>
- /login (with FB) (expects fb token, return user + flag if is new user)
- /user_data (expects user_id, returns a hash with email, name, pic_url, paypal
- /update_me (expects one(or more) of the following and sets it: [paypal, email, pic_url, name.])
- /activity_data  (expects user_id,
returns of activity_data:
  - num_requests_made
  - num_responses
  - num_requests_marked_as_fulfilled
  - num_paid_requests_marked_as_fulfilled
  - num_actual_paid
  - average rating

* <b>Info Requests</b>
- /create_request (expects user_id (current user), 
posts params from Info Requests collection(mandatory and optional))
returns added object .
- /requests  (will show of different types by imput param (e.g logitude and latitude will return local requests)
  - expects one of the following as criteria: _id, user_id, text, lat & long, amount, responder_id
  - returns an array of requests
    - each request has all data necessary to display 
  
* <b>Responses </b>
- /create_response (expects user_id (current user), 
posts params from * Responses collection(mandatory and optional)). returns added object 
- /responses
  - expects one of the following as criteria: _id, user_id, request_id, text
  - returns an array of responses
    - each response has all data necessary to display it 

 * <b>Confrims and Refutes </b>   
- /confirm_refute (confirm or refute response)
(expects user_id, id of response and action (confirm/refute), returns added object 

* <b>Ratings </b>
- /create_ating (expects rated_user_id, rating(1 to 5), response_id). returns added object 
- get_ratings 
  - expects user_id or rated_user_id
  - returns an array of rating objects

* <b>Payments </b> 
-/pay(expects request_id, returns URL of Paypal page ready for payment + pay-key (Paypal identifier for payment)
-/paypal_confirm (expects payment identifier (string), returns hash indicating confirmed payment status )
-/paypal_cancel (expects request_id, redirects back to request)


 * <b>Flags</b>
-/flag_user (expects user_id, flagged_user_id, request_id/response_id, returns new object flag added)
-/unflag_user (expects  user_id, flagged_user_id, request_id/response_id, returns - flag removed)
-/flags (expects one or more of the following: flagging_user_id, flagged_user_id, request_id/response_id, returns found objects)

 * <b>Comments</b>
-/create_comment (expects user_id, response_id; returns object comment)
-/remove comment (expects user_id, comment_id; returns "comment removed")
-/edit_comment (expects user_id, comment_id; returns object comment)
-/comments

 
 * <b>Admin </b>
 - /block_account (expects user_id, adds blocked:true to user hash) 
 - /unblock_account (expects user_id, adds blocked:false to user hash) 
 - /show_contact_us (see messages users sent on contact us form)

* <b>Other</b>
- contact_us (recieves submitted form data, saves it to database).</pre></p>
