<form method='post' action='/admin/create_user'>
<div id="complete-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Create a user.</h4>
      </div>
    
      <div class="modal-body">

      <div class="form-group label-floating is-empty">
        <label for="555" class="control-label">Patient's case number</label>
        <input type="text" class="form-control" id="555" name='case_id'>

        <span class="material-input"></span>
      </div>
          
      <div class="form-group label-floating is-empty">
        <label for="777" class="control-label">Patient's phone number</label>
        <input type="text" class="form-control" id="777" name='phone'>

        <p class="help-block">Enter complete phone number, as in (+972522931234)</p>
        <span class="material-input"></span>
      </div>



      </div>
      
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"> Submit!</button>
      </div>

    </div>
  </div>
</div>
</form>