<style>
.admin_dashboard_buttons a {
  display: block;
}
</style>
<section class='admin_dashboard_buttons'>
<p> Hello, admin. </p>

<% if params[:alert_text] %>
  <%= erb :"layout/alert", locals: {type: "warning", text: params[:alert_text]} %>
<% end %>

  <a href="/admin/manage/users"><button class='btn btn-lg btn-raised btn-primary'>Manage System</button></a>
</section> 