<section>
<p> Hello, admin. </p>

<% if params[:alert_text] %>
  <%= erb :"layout/alert", locals: {type: "warning", text: params[:alert_text]} %>
<% end %>


<a href="/admin/manage/users"><button class='btn btn-lg btn-raised'>Manage System</button></a>
<a href="/admin/update_pages"><button class='btn btn-lg btn-raised'>Update Site Pages From GDOC</button></a> 
<a href="https://docs.google.com/spreadsheets/d/1a8LaRk7yX6COz455CexQjnM8lqkeCaFJEUIwyc8szug/edit#gid=0" target="_blank"><button class='btn btn-lg btn-raised'>Edit Site Pages</button></a>
<a href="https://docs.google.com/spreadsheets/d/1a8LaRk7yX6COz455CexQjnM8lqkeCaFJEUIwyc8szug/edit#gid=0" target="_blank"><button class='btn btn-lg btn-raised'>Edit Site Pages</button></a>

<a href="/admin/forms_posted"><button class='btn btn-lg btn-raised'>Forms Posted</button></a>

</section> 