<section>
<p> Hello, admin. </p>

<% if params[:alert_text] %>
  <%= erb :"layout/alert", locals: {type: "warning", text: params[:alert_text]} %>
<% end %>

<a href="/admin/manage/users"><button class='btn btn-lg btn-raised'>Manage System</button></a> 

</section> 