<style>
.admin_dashboard_buttons a {
  display: block;
}
</style>
<section class='admin_dashboard_buttons'>

<% if params[:alert_text] %>
  <%= erb :"layout/alert", locals: {type: "warning", text: params[:alert_text]} %>
<% end %>

</section> 


<h2>Admin Panel</h2>
  <div class="btn-group">
    <a href="/requests/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Requests</button></a>
     <a href="/responses/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Responses</button></a>
    <a href="/users/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Users</button></a>
    <a href="/ratings/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Ratings</button></a>
    <a href="/confirms_refutes/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Confirms/Refutes</button></a>
    <a href="/flags/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Flags</button></a>
    <a href="/comments/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Comments</button></a>
    <a href="/submitted_messages/all?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Submitted Messages</button></a>
    <a href="/admin/api_spec"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Spec</button></a>
    <a href="/admin/manage/users?browser=true"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Technical Administration</button></a>
  </div>


