<style>
.admin_dashboard_buttons a {
  display: block;
}
</style>
<section class='admin_dashboard_buttons'>

<% if params[:alert_text] %>
  <%= erb :"layout/alert", locals: {type: "warning", text: params[:alert_text]} %>
<% end %>

</section> 


<h2>Admin Panel</h2>
  <div class="btn-group">
    <a href="/admin/manage/users"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Manage System</button></a>
    <a href="/request_page"> <button type="button" class='btn btn-lg btn-raised btn-primary'>List of requests</button></a>
     <a href="/response_page"> <button type="button" class='btn btn-lg btn-raised btn-primary'>List of responses</button></a>
    <a href="/users"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Users</button></a>
    <a href="/payments"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Payments</button></a>
  </div>


