<form method='get' path='<%=request.path%>' class="form-inline">     
  <input type='text' class='form-control' name='anywhere_val' placeholder='search by id, name, etc' value=''/>
  <input type='text' class='form-control' name='sort_field' placeholder='sort_by field' value=''/>
  <input type='text' class='form-control' name='sort_dir' placeholder='sort_by field' value='1'/>

  <button type="submit" class="btn btn-primary">Get</button> 
</form>