<!-- <!DOCTYPE html>
<html>
<head>
<style>
body {background-color:lightgrey;}
h1   {color:blue;}
p    {color:green;}
div {color:#ccffcc;}
</style>
</head>
<body> -->
<h1 style="font-family: verdana; color: #b3b3ff; ">Contact Us</h1> 
<form class='form-group' action='/contact_us' method='post'>
  <div class='input-group'>
    <label>Email</label>
    <input name='email' class='form-control' placeholder="enter your email"> 
  </div>
  <p><div class='input-group'>
    <label>Text</label>
  <textarea rows="9" cols="20" name='text' class='form-control' placeholder="What would you like to tell us?"></textarea>
  </div></p>

  <button class='btn btn-lg btn-raised btn-primary' type='submit' >Send</button>
  <!-- <input type="submit" value="Submit"> -->
</form>

</body>
</html>