
<h1 style="font-family: verdana; color: #b3b3ff; ">Contact Us</h1> 
<form class='form-group' action='/contact_us' method='post'>
  <p><div class='input-group'>
      <label>Name</label>
      <input name='name' class='form-control' placeholder="Your name"> 
    </div></p>
  <p><div class='input-group'>
    <label>Email</label>
    <input name='email' class='form-control' placeholder="Enter your email"> 
  </div></p>
  <p><div class='input-group'>
    <label>Text</label>
  <textarea rows="9" cols="20" name='text' class='form-control' placeholder="What would you like to tell us?"></textarea>
  </div></p>

  <button class='btn btn-lg btn-raised btn-primary' type='submit' >Send</button>
  <!-- <input type="submit" value="Submit"> -->
</form>

</body>
</html>