<%
link_to_contact ||= false
box_imgs = [
  'https://static.wixstatic.com/media/4c3129_3bccb5ad13fa4231820faded84ba5017.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01/4c3129_3bccb5ad13fa4231820faded84ba5017.jpg',
  'https://static.wixstatic.com/media/4c3129_4dc3ac1fd85b495c900b972c333017df.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01/4c3129_4dc3ac1fd85b495c900b972c333017df.jpg',
  'https://static.wixstatic.com/media/4c3129_f777d8e826d74b049d544547c2d2f08b.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01/4c3129_f777d8e826d74b049d544547c2d2f08b.jpg',
  'https://static.wixstatic.com/media/4c3129_f22d8de8a4a7471596b118936e499d28.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01/4c3129_f22d8de8a4a7471596b118936e499d28.jpg',
  'https://static.wixstatic.com/media/4c3129_f22d8de8a4a7471596b118936e499d28.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01/4c3129_f22d8de8a4a7471596b118936e499d28.jpg',
  'https://static.wixstatic.com/media/4c3129_65d627c71dda4dcbbc5d718a8f54c9fb.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01/4c3129_65d627c71dda4dcbbc5d718a8f54c9fb.jpg',
  'https://static.wixstatic.com/media/4c3129_af62096a16e2485d90241ad826bda093.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01/4c3129_af62096a16e2485d90241ad826bda093.jpg'
]
%>

<section class='row' style='margin-top:20px'>
  <div class='col-md-12'>
  <% boxes.each do |box| %>
    <% link = link_to_contact ? "/contact?type=#{box[:title]}" : "/c/#{box[:title]}" %>
    <span class='col-md-4 col-xs-12'> 
      <a href="<%= link %>">
        <div class='centerText'>
        <img src='<%= box[:img] || box_imgs.sample %>' height=283px width=283px>
        <span class="btn btn-raised btn-lg" href="<%= link %>"><%= box[:title] %></span>
        </div>
      </a>
    </span>
  <% end %>
  </div>
</section>