<style>    
    .add-to-msg-items li {

    }
  </style>

<section>    
  <div class='centerText'>
    <h3>We like to keep things simple.</h3>
    <h4>Fill out the form below and we'll get back to you within 1 business day.</h4>
    <form action='/post_form' method='post' style='margin-top:20px'>
      <input type='hidden' name='event_type' value="<%=params[:type]%>">
      <input type='hidden' name='which_form' value="main_contact1">
      <h5><strong><%=params[:type]%></strong></h5>
      <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
          <div class='col-md-6'>
            <input name='name' placeholder="Name" class='inp1'>
            <input name='email' placeholder="Company Email" class='inp1'>
            <input name='phone' placeholder="Phone" class='inp1'>
            <input name='budget' placeholder="Budget" class='inp1'>
            <input name='date' placeholder="Date and Time of the Event" class='inp1'>
          </div>
          <div class='col-md-6'>
            <textarea placeholder='Anything else?' name='text' class='inp1' style='height: 202px; padding-left: 5px; border-color: lightgrey'></textarea>
            <button class='btn btn-primary btn-raised'>Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <hr>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <h5 class='centerText'>Other things we'll probably ask you that you can add in the message:</h5>
      <ul class='list-groupz add-to-msg-items'>
        <li class='list-group-item'>What is the maximum headcount for the event?</li>
        <li class='list-group-item'>Do you have a neighborhood preference?</li>
        <li class='list-group-item'>Do you want food, drinks, AV set up?</li>
        <li class='list-group-item'>Demographics and culture of your team?</li>
        <li class='list-group-item'>Any goals you are trying to work on? Communication, Leadership, Sales, Management, etc. ?</li>
      </div>
    </div>

  </section>