<%
  categories = $pages.find({type: "category"}).to_a.reverse
%>


<h1 class='centerText pageHeader'> Wekudo: Experiences For Your Team </h1>

<section class='row' style='margin-bottom:10px'>
  <section class='col-md-12'>
    <section class='pull-left' style='font-size: 20px'>
      <div> Vetted by employees like you.</div>
      <div> Click on a square to explore more options.</div>
    </section> 

    <section class='pull-right' style='text-align: right'>
      <div style='color: darkred'> No Booking Fees.</div>
      <div style='color: darkgreen'> Best Price Guarantee.</div>
    </section> 

  </section>
</section>

<%= erb :"wekudo/activity_boxes", locals: {boxes: categories} %>