<section class='centerText'>


<span style="
    position: absolute;
    z-index: 999;
    right: 0;
"><button class='btn' style='color: white'>Have an activity we should know about?</button> </span>

<% overlay_html = erb :"layout/video_overlays/overlay2" %>
<%= erb :"layout/wide_video", locals: {src: "http://video.wixstatic.com/video/11062b_6743da5900054f1f8e69f53302930a6a/1080p/mp4/file.mp4", overlay_html: overlay_html} %>


<h2> Top Companies Use WeKudo To Manage Their Team-Building</h2>
<h4> Discover new, unique corporate activities for in or out of the office. </h4>

<% imgs = ['macys.png','etsy.png','bank_of_america.png','ernst_and_young.png','shutterstock.png'] %>
<div class='row' style='margin:30px auto'>
<div class='col-md-12 centerText'>
  <div class='col-md-1'></div>
<% imgs.each do |img| %>

  
    <div class='col-md-2'>
      <img src="/img/wekudo/<%= img %>">
    </div>
  

<% end %>
</div>
</div>

</section>