<section class='centerText'>
<h3> Have an activity we should know about? <button> Inspire Workplace Happiness</button> </h3>

<%= erb :"layout/wide_video", locals: {src: "http://video.wixstatic.com/video/11062b_6743da5900054f1f8e69f53302930a6a/1080p/mp4/file.mp4", overlay_title: "Your team. Together.", overlay_subtitle: "unforgettable NYC corporate events & activities
."} %>


<h2> Office Winter Wellness Programs </h2>
<h3> Discover new, unique corporate activities for in or out of the office. </h3>



</section>