<section class="centerText">  
  <h2> Thanks! We'll get back to you within 24 hours.</h2>
  <h2> Refer your friends to WeKudo and get a <strong>free personal event</strong>. </h2>
  <p> If you refer friends or colleagues and <strong>any</strong> of them book an event through us during April-May 2016, we will give you one <strong>free event</strong> for <strong> each one that books.</strong>. Is that cool or what?</p>

  <div class='col-md-12 centerText'>
    <div class='col-md-6 col-md-offset-3'>  
      <%= erb :"wekudo/forms/tell_us_about_your_friends" %>
    </div>
  </div>
</section>