<section class="centerText">  
  <h2> Thanks! We'll get back to you within 24 hours.</h2>
  <h2> Refer your friends to WeKudo and get a <strong>free personal event</strong>. </h2>
  <p> If you refer friends or colleagues and they book an event through us during April 2016, we will give you a <strong>free event</strong>. Is that cool or what?</p>

  <h3> SPREAD THE WORD! </h3>
  <p></p>
  <%= erb :"other/sharing_buttons" %>
</section>