<section class='centerText pageHeader'>
<h2> Why Wekudo? </h2>
<h4> Tell us what kind of company/team you are & we will tell you what Wekudo for you! (Ha, Get it?) </h4>
</section>

<%
  team_types = [
    {title: "Contracted Cubists"},
    {title: '"That" Team'},
    {title: "Winner Takes It All"},
    {title: "Cranky-Pants"},
    {title: "Workplace Buds"},
    {title: "Roommates"},
  ]
%>  

<%= erb :"wekudo/activity_boxes", locals: {boxes: team_types, } %>

<% overlay_html = erb :"layout/video_overlays/overlay1" %>
<%= erb :"layout/wide_video", locals: {src: "http://video.wixstatic.com/video/11062b_6743da5900054f1f8e69f53302930a6a/1080p/mp4/file.mp4", overlay_html: overlay_html} %>