<div class="jumbotron"> 
  <h1 class="display-3">Hi, welcome to SNM.</h1> 
  <p class="lead">This is a simple social network / marketplace.</p> 
  <hr class="m-y-2"> 
  <p>This could be your social network / marketplace.</p> 
  <p class="lead"> <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> </p> 
</div>
