<div class="jumbotron"> 
  
  <p>This is a simple website.</p> 
  <hr> 
  <p>This could be your social network or marketplace.</p> 
  <a class="btn btn-raised btn-lg" href="#" role="button">Learn more</a>
</div>
