<div class="jumbotron"> 
  
  <p>Welcome to MyER.</p> 
  <hr> 
  <p>Please enter your code in order to view your details. If you do not have a code yet, ask the receptionist to give you one.</p> 

  <div class="form-group label-floating is-empty">
    <label for="555" class="control-label">Your code here</label>
    <input type="text" class="form-control" id="555">

    <p class="help-block">Your code should be 8 digits long.</p>
    <span class="material-input"></span>
  </div>

  <a class="btn btn-raised btn-lg" href="#" role="button">Enter</a>
</div>
