<!DOCTYPE html>
<html>
<head>
  <title>Generate API</title>
</head>
<body style='text-align: center'>

<header>
<a href="/">Home</a>
</header>

<%= yield %>

<footer>  
(footer.)
</footer>

</body>
</html>
