<%
%>

<h3> Project: <%=params[:name]%> </h3>

<%= proj.to_json %>

<form action='/projects/update'>
  <input name='name' ztype='hidden' value='<%=params[:name]%>'>
  
  
  <div>
    <label>Project Config</label>
    <textarea name='config'><%=proj[:config] || {}%></textarea>
  </div>
</form>