.admin {
  background-color: yellow;
  padding: 10px;
  border-radius: 5px;
  color: black !important; }

.noDisplay {
  display: none; }

.border1 {
  border: 1px solid darkblue; }

.bg1 {
  background-color: darkred; }

.bg2 {
  background-color: blue; }

.padding10 {
  padding-left: 10px; }

.centerText {
  text-align: center; }

.inp1 {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 8px; }

.slim-card {
  /*not 100% height as opposed to Material BootStrap's "card"*/
  display: inline-block;
  position: relative;
  margin-top: 20px;
  width: 100%;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px; }
  .slim-card .card-body {
    height: 30%;
    padding: 18px; }

.page {
  margin: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .page .pageHeader {
    margin-bottom: 40px; }

/* Yellow fade */
.highlight {
  -webkit-animation: yellow-fade 3s;
  -moz-animation: yellow-fade 3s;
  animation: yellow-fade 3s; }

@-webkit-keyframes yellow-fade {
  5% {
    background-color: #ff8; } }
@-moz-keyframes yellow-fade {
  5% {
    background-color: #ff8; } }
@keyframes yellow-fade {
  5% {
    background-color: #ff8; } }
#test_css_cover:hover {
  color: red;

}


/* search-form addition */


body {
    padding-top: 50px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}