<div style='position: absolute; text-align: center; color: white; width: 100%; margin-top: 100px; z-index: 999'>
  <span style='font-size: 40px;'>
    <div><%= "Your team. Together." %></div>
    <div><%= "Unforgettable NYC corporate events & activities." %></div>
  </span>
  <div><a href="/experiences" class='btn btn-lg btn-raised btn-success' style='font-size: 25px; margin-top:40px'> Browse Experiences</a></div>
</div>