
<div style='position: absolute; text-align: center; color: white; width: 100%; margin-top: 130px; z-index:999'>
  <span style='font-size: 40px;'>
    <div><%= "We have a BIG dream" %></div>
    <div><%= "to inspire *happiness* at work." %></div>
  </span>
</div>