<!-- <h3><small><code>btn-group.btn-group-justified.btn-group-raised</code></small></h3> -->
<p style='text-align: center'><strong><%= "Case ID #{cu['case_id']}, Phone #{cu['phone']}" %></strong></p>
<div class="btn-group btn-group-justified btn-group-raised">
  <a href="javascript:void(0)" class="btn ">Left</a>
  <a href="javascript:void(0)" class="btn ">Right</a>
</div>

<%= cu.to_json %>