<%
  open_tasks = 
  [
    {name: "task-#{rand(100)}", location: "room1", completed_at: rand_time, expected_at: rand_time},
    {name: "task-#{rand(100)}", location: "room1", completed_at: rand_time, expected_at: rand_time},
    {name: "task-#{rand(100)}", location: "room1", completed_at: rand_time, expected_at: rand_time},
  ]
  done_tasks = 
  [
    {name: "task-#{rand(100)}", location: "room1", completed_at: rand_time, expected_at: rand_time},
    {name: "task-#{rand(100)}", location: "room1", completed_at: rand_time, expected_at: rand_time},
  ]
%>


<section class='tasks open_tasks highlight'>
<% open_tasks.each do |task| %>
  <%= to_card(:"my_er/single_task", locals: {task: task, open: true}) %>
<% end %>
</section>

<section class='noDisplay tasks done_tasks'>
<% done_tasks.each do |task| %>
  <%= to_card :"my_er/single_task", locals: {task: task, open: false} %>
<% end %>
</section>