<!-- <h3><small><code>btn-group.btn-group-justified.btn-group-raised</code></small></h3> -->
<script>
function showTasks(type) {
  $(".tasks").hide();
  $("."+type).show();
}

function updateUserTasks(){
  $.get('/user_tasks').success(function(res){$('.userTasksContent').html(res.html)});
  console.log("updating data "+Date());
}

setInterval(updateUserTasks,5000)
</script>

<p style='text-align: center;'><strong><%= "Case ID #{cu['case_id']}, Phone #{cu['phone']}" %></strong></p>
<div class="btn-group btn-group-justified btn-group-raised">
  <a href="#" onclick=showTasks('done_tasks') class="btn">Done</a>
  <a href="#" onclick=showTasks('open_tasks') class="btn">Open</a>
</div>

<section class='userTasksContent'>
  <%= erb :"my_er/user_tasks_content" %>
</section>
