<style>
.site_footer { background-color: steelblue; padding-bottom: 100px;}
.footer_menu { font-weight: bold; color: white; }
footer .col-md-2 a { color: black; display: block;}
footer .col-md-2 div { color: black; }
</style>
<footer class=''>

<div class='row site_footer'>
  <div class='col-md-12 centerText' style='padding-top:40px; padding-bottom: 50px;'>
    (footer)
  </div>

</div>
</footer>