<style>
.site_footer { background-color: steelblue; padding-bottom: 100px;}
.footer_menu { font-weight: bold; color: white; }
footer .col-md-2 div { font-weight: bold }
</style>
<footer class=''>

<div class='row site_footer'>
  <div class='col-md-12' style='padding-top:40px; padding-bottom: 50px;'>
    <div class='col-md-2 col-md-offset-2'>
      <h4 class='footer_menu'> GET TO KNOW US </h4>
      <div> About Wekudo </div>
      <div> Become an Experience Provider </div>
      <div> Customized Team Event </div>
      <div> Tell Your HR </div>
      <div> Our blog, workhard & workfun </div>
    </div>

    <div class='col-md-2'>
      <h4 class='footer_menu'> CONTACT AND HELP </h4>
      <div> Contact Us </div>
      <div> Subscribe </div>
      <div> Help </div>
      <div> Suggest a vendor </div>
      <div> Legal </div>
    </div>

    <div class='col-md-4'>      
      <h4 class='footer_menu centerText'> 
        <div>Need a corporate event in NYC?</div> 
        <div>Talk to us, we respond within 24 hours.</div>
      </h4>
      <form action='/post_form' method='post'>
      <input type='hidden' name='which_form' value='footer1'>
      <div class='col-md-6'>        
        
          <input placeholder='Name' name='name' class='inp1'/>
          <input placeholder='Email' name='email' class='inp1'/>
        
      </div>
      <div class='col-md-6'>
        <textarea placeholder='What are you looking for?' name='text' class='inp1' style='height: 76px'></textarea>
        <button class='btn btn-raised btn-primary pull-right' style='color: white'>Send</button>
      </div>

      </form>
    </div>

    <div class='col-md-2'>
      
    </div>  
  </div>

  <div class='col-md-12'>
    <div class='col-md-6 col-md-offset-3 centerText'>
      <h4 class='footer_menu'> INSPIRE WORKPLACE HAPPINESS </h4>
      <%= erb :"other/sharing_buttons" %>
    </div>
  </div>


</div>
</footer>