<%
#bp
x=1
%>
<style>
.navbar {
    background-color: white;
    border-bottom: 3px solid darkgrey;
}
.header-links {
    color: grey;
    font-weight: 400;
}
</style>

<nav class="navbar znavbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src='/img/wekudo_logo2.png'/></a>
        </div> 
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right header-links">
                
                <% if cu %>
                <li><a href="<%=user_permalink(cu)%>">Case ID: <%= cu['case_id']%></a></li>
                <li><a href="/logout">Log Out</a></li>
                <% else %>
                <!-- <li> <a class="nav-link" href="/signup">Sign Up</a></li> -->
                <% end %>
                
                <% if is_admin %>
                <li> <a class="admin" href="/admin">Admin</a> </li> 
                <% end %>                     
                <li><a href="/experiences">Experiences</a></li>
                <li><a href="/why_wekudo">Why Wekudo?</a></li>                
                <li><a href="/about">Blog</a></li>
                <!-- <li><a href="/about">About</a></li> -->
            </ul>
        </div --><!--/.navbar-collapse -->
    </div>
</nav>