
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<style type="text/css">
.table-row{
cursor:pointer;
}
</style>                                              


 <h2> Responses </h2>
  <table class='table table-striped table-bordered table-hover table-sm table-responsive' >
  <% responses = $res.get_many_limited({}, sort: [{created_at: -1}] )%>
    <thead class='thead-inverse'>
    <% response = responses.last %>
    <% response.each_key do |key| %>
      <td><%= key %> </td>
    <% end %>

  </thead>
  <tbody>
  
  <% responses.each do |response| %>
  		<tr class="table-row" data-href="/responses?response_id=<%=response['_id']%>">

	  <% response.each_value do |value| %>
	  <td> <%= value %></td>

	    <% end %>
	  </tr>
	  
  <% end %>
  </tbody>
</table>
