<h1>Register</h1>
<form class='zform-group' action='/register' method='post'>
  <div class='input-group'>
    <label>Email</label>
    <input name='email' class='form-control' placeholder="email"> 
  </div>
  <div class='input-group'>
    <label>Password</label>
    <input type='password' name='password' class='form-control' placeholder="password"> 
  </div>
  <button type='submit' class='btn btn-lg btn-raised btn-primary'>Register</button>
</form>