<h1> Sign up or in</h1>
<form class='form-group' action='/signin' method='post'>
  <div class='input-group'>
    <input name='email' class='form-control' placeholder="email"> 
  </div>
  <div class='input-group'>
    <input type='password' name='email' class='form-control' placeholder="password"> 
  </div>
  <button class='btn btn-lg btn-raised btn-primary'>Submit</button>
</form>