<form action='/post_form' method='post' style='margin-top:20px'>
      <input type='hidden' name='event_type' value="<%=params[:type]%>">
      <input type='hidden' name='which_form' value="main_contact1">
      <h5><strong><%=params[:type]%></strong></h5>
      <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
          <div class='col-md-6'>
            <input name='name' placeholder="Name" class='inp1'>
            <input name='email' placeholder="Company Email" class='inp1'>
            <input name='phone' placeholder="Phone" class='inp1'>
            <input name='budget' placeholder="Budget" class='inp1'>
            <input name='date' placeholder="Date and Time of the Event" class='inp1'>
          </div>
          <div class='col-md-6'>
            <textarea placeholder='Anything else?' name='text' class='inp1' style='height: 202px; padding-left: 5px; border-color: lightgrey'></textarea>
            <button class='btn btn-primary btn-raised'>Send</button>
          </div>
        </div>
      </div>
</form>