<form action='/post_form' method='post'> 
  <input type='hidden' name='which_form' value=tell_us_about_your_hr>
  <input name=name placeholder='you@your_company.com'>
  <input name=email placeholder='hr@your_company.com'>
  <button class='btn btn-primary btn-lg btn-raised'> Send </button>
</form>