<form action='/post_form' method='post'> 
  <input type='hidden' name='which_form' value=tell_us_about_your_hr>
  <input name=name placeholder='Your Email'>
  <input name=email placeholder='HR/Company Email'>
  <button class='btn btn-primary btn-lg btn-raised'> Send </button>
</form>