<form action='/post_form' method='post'>
  <input type='hidden' name='event_type' value=tell_us_about_your_hr>
  <input name=email placeholder='Your Email'>
  <input name=name placeholder='Company Name'>
  <input name=company_email placeholder='HR/Company Email'>
  <button class='btn btn-primary btn-lg btn-raised'> Send </button>
</form>