<form action='/post_form' method='post' style='text-align: left'> 
  <div class='zform-group'>
    <input type='hidden' name='which_form' value=tell_us_about_your_friends>
    <div class="form-group label-floating">
      <label class="control-label" for="focusedInput1">Your Email</label>
      <input class="form-control" id="focusedInput1" name=email type="text">
      <p class="help-block">So we know who to reward!</p>
    </div>
    
    <div class="form-group label-floating">
      <label class="control-label" for="focusedInput2">Emails of Friends who might benefit from personalized corporate events in NYC</label>
      <input class="form-control" name=text id="focusedInput2" type="text"/>
      <p class="help-block">Refer as many as you'd like and we'll contact each one personally.</p>
    </div>
    <button class='btn btn-primary btn-lg btn-raised pull-right' style='margin-top: 20px'> SEND </button>
  </div>
</form>