<section class='centerText'>
  <p>Wekudo believes in work-life balance. Work hard, play hard. It is our mission to connect workplaces with great events and venues for everyone's healthy enjoyment.</p>
  <p> For further questions please contact help@wekudo.com. </p>
</section>