
<% hash = locals[:data]%>

 <h2> Selected <%=locals[:collection_name]%></h2>

  <table class='table table-striped table-bordered table-hover table-sm table-responsive' >
    <thead class='thead-inverse'>
    <% locals[:keys].each  do |key| %>
      <td><%= key %> </td>
    <% end %>

  </thead>
  <tbody>

  <tr class="table-row" data-href="#">
    <% locals[:keys].each do |key| %>
    <td> <%= hash[key] || 'value missing' %></td>
      <% end %>
    </tr>    

    
  </tbody>
</table>
