<style>
  .share-buttons img {
    margin-left: 10px;
    height: 40px;
}
</style>
<div class="share-buttons">
  <span><a href="https://www.facebook.com/app" title="Facebook" target="_blank"><img src="/img/Facebook.png"></a>
  </span>

  <span><a href="https://twitter.com/app" target="_blank" title="Tweet"><img src="/img/Twitter.png"></a></span>
  
  <span><a href="http://www.linkedin.com/company/app" target="_blank" title="Share on LinkedIn"><img src="/img/LinkedIn.png"></a></span>
  
</div>